.feature-cards { 
  place-items: center;
}

h4 {
  font-weight: normal;
  color: #9A6FFB;
  text-align: center;
  margin: auto;
}

h3 { 
  font-size: 44px;
  font-weight: normal;
  text-align: center;
  padding: 10px;
  color: #fafafa;
  background-image: linear-gradient(0.20turn, #FAFAFA, #999999) !important;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.feature { 
  max-width: 300px;
  display: inline-block;
  justify-content: center;
  margin: 20px;
  background-color: #141414;
  padding: 30px;
  border-radius: 30px; 
  border-bottom-width: 1px;
  border-color:  #1f1f1f;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
}

.feature p { 
  text-align: left;
  padding: 10px 0px;
}

span { 
  font-size: 26px;
  margin-bottom: 20px;
  color: #fafafa;
  background-image: linear-gradient(0.20turn, #9A6FFB, #e6e6e6) !important;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@media (max-width: 807px) { 
  .feature { 
    display: block;
    place-content: center;
    max-width: 520px;
  }
  .feature-cards h3 { 
    font-size: 28px;
  }
  .feature p { 
    text-align: left;
    padding: 10px 0px;
    font-size: 16px;
  }
  .feature span { 
    font-size: 22px;
    margin-bottom: 20px;
  }
}
