body { 
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #7A7A7A;
    background-color: #0D0D0D;
}
h1, h2, h3, p { 
    margin: 0px;
}
ul { 
    margin: 0px;
    padding: 0px;
    list-style: none;
}
img { 
    max-width: 100%;
    display: block;
}
