.intro { 
    max-width: 1200px;
    padding: 30px 20px;
    margin: 0 auto;
    place-items: center;
    justify-items: center;
    display: flex;
}

h1 { 
    font-size: 80px;
    font-weight: normal;
    justify-self: center;
    color: #fafafa;
    background-image: linear-gradient(0.20turn, #e6e6e6, #9A6FFB) !important;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

h2 { 
    font-weight: normal;
    justify-self: center;
}

p { 
    justify-self: center;
    align-items: center;
    max-width: 480px;
    font-size: 18px;
    letter-spacing: .01rem;
    text-align: center;
    /* padding: 15px; */
}

.sendemail { 
    margin: 20px;
    background-color: #0d0d0d;
    border: 1px solid #262626;
    border-radius: 20px;
    color: #999999;
    padding: 12px;
    width: 200px;
    position: relative;
    justify-content: center;
    flex: none;
}

.cta { 
    padding: 12px 20px;
    background-color: #9A6FFB;
    border: 1px solid #262626;
    border-radius: 20px;
    font-weight: bold;
    color: #2b2b2b;
    text-align: center;
    justify-self: center;
}

.intro-img {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
}

@media (max-width: 820px) { 
    .intro {  
        flex-direction: column;
        gap: 10px;
        padding: 0px;
        margin: 0;
        align-items: center;
    }
    .intro h1 {  
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        margin: 0;
        align-items: center;
        font-size: 52px;
        text-align: center;
    }  
    .intro h2 { 
        font-size: 24px;
        text-align: center;
        max-width: 520px;
    }

}

@media (max-width: 460px) { 
    .intro { 
        margin: 0 auto;
    }
    .intro h2 { 
        font-size: 16px;
        text-align: center;
        max-width: 320px;
    }
    .intro p { 
        font-size: 14px;
        max-width: 320px;
    }
    .cta { 
        display: flex;
        flex: none;
        /* flex-wrap: nowrap; */
        width: 200px;
        padding: 12px;
        justify-content: center;
    }
    .intro img { 
        max-width: 75%;
        place-self: center;
    }
}