.lead { 
  background-image: linear-gradient(0.15turn, #262626, #0d0d0d);
  max-width: 780px;
  background-color: #141414;
  padding: 60px 100px;
  border-radius: 50px;
  margin: 40px auto;
  align-items: center;
  justify-items: center;  
}

.lead h2 { 
  font-size: 54px;
  text-align: center;
  line-height: 60px;
  margin-bottom: 20px;
  background-image: linear-gradient(0.20turn, #e6e6e6, #999999) !important;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.lead p { 
  margin-bottom: 32px;
}

.form-container { 
  grid-template-columns: 1fr;
  width: 260px;
}

label {
  margin-top: 10px;
  display: flex;
  width: 250px;
  font-size: 12px;
}

input,
select,
option { 
  margin-bottom: 12px;
  background-color: #0d0d0d;
  border: 1px solid #262626;
  border-radius: 20px;
  color: #999999;
  padding: 12px;
  width: 90%;
  position: relative;
}

.cta { 
  padding: 12px 20px;
  background-color: #9A6FFB;
  border: 1px solid #262626;
  border-radius: 20px;
  font-weight: bold;
  color: #2b2b2b;
}

.cta-form { 
  padding: 12px 20px;
  background-color: #9A6FFB;
  border: 1px solid #262626;
  border-radius: 20px;
  font-weight: bold;
  color: #2b2b2b;
  width: 100%;
}


.footer { 
  background-image: linear-gradient(-0.15turn, #262626, #0d0d0d);
  max-width: 100%;
  background-color: #141414;
  padding: 40px 200px;
  margin: 40px 0px 0px 0px;
  align-items: center;
  justify-items: center;  
  display: flex;
  justify-content: space-between;
}

.footer-img { 
  max-width: 50px;
}

.contato p { 
  font-size: 14px;
  align-items: center;
  justify-items: center;  
  display: flex;
  justify-content: space-between;
}

.emailcheqn { 
  font-size: 16px !important;
  font-weight: bold;
}

.instaimg { 
  max-width: 20px;
  margin-top: 10px;
  place-self: center;
}


@media (max-width: 1000px) { 
  .lead { 
    max-width: 520px;
}
  .lead h2 { 
    font-size: 44px;
}
  .footer { 
    padding: 40px 100px;
    margin: 40px 0px 0px 0px;
  }
}

@media (max-width: 850px) { 
  .footer { 
    padding: 40px 100px;
    margin: 40px 0px 0px 0px;
  }
  .footer-img { 
    max-width: 40px;
  }
  .copyright p { 
    font-size: 14px;
  }
}

@media (max-width: 750px) { 
  .lead { 
      max-width: 320px;
      padding: 40px 90px;
  }
  .lead h2 { 
      font-size: 32px;
      line-height: normal;
  }
  .cta { 
      align-items: flex-start;
      display: flex;
      flex: none;
      flex-wrap: nowrap;
      width: 200px;
      padding: 6px;
      text-align: center;
      margin: 0 auto;
      place-content: center;
  }
}

@media (max-width: 600px) { 
  .footer { 
    display: block;
    place-items: center;
    padding: 20px 50px;
    margin: 20px 0px 0px 0px;
  }
  .footer p { 
    font-size: 12px;
  }
  .footer-img { 
    margin-bottom: 10px;
  }
  .copyright { 
    margin-top: 20px;
  }
}


@media (max-width: 500px) { 
  .lead { 
    max-width: 75%;
    margin: 20px;
    padding: 20px 60px;
}
  .lead h2 { 
    font-size: 24px;
    line-height: normal;
}
  .lead p { 
    font-size: 14px;
}
  .cta { 
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-wrap: nowrap;
    width: 200px;
    padding: 12px;
    text-align: center;
    margin: 0 auto;
}
}