#thankYouBar {
    width: 100%;
    background-color: #9A6FFB;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#thankYouBar .closeBtn {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

body { 
    margin-top: 50px;
}