#thankYouBar {
    width: 100vw;
    background-color: #9A6FFB;
    color: white;
    text-align: center;
    font-size: 12px !important;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box; /* Ensures padding is included in the element's width */
    margin: 0; /* Remove any margin */
}

#thankYouBar .closeBtn {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

#thankYouBar p { 
    font-size: 12px;
}

