.trial { 
    background-image: linear-gradient(0.15turn, #262626, #0d0d0d);
    max-width: 780px;
    background-color: #141414;
    padding: 60px 100px;
    border-radius: 50px;
    margin: 40px auto;
    align-items: center;
    justify-items: center;  
  }
.trial h2 {
    font-size: 54px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 20px;
    background-image: linear-gradient(0.20turn, #e6e6e6, #999999) !important;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.cta { 
    box-shadow: rgba(154, 111, 251, 0.25) 0px 10px 10px 0px;
    opacity: 1;
    border: none;
    text-align: center;
}
.cta:hover { 
    box-shadow: rgba(131, 82, 243, 0.25) 0px 20px 20px 0px;
    opacity: 1;
    border: none;
    color: #262626;
    font-weight: bold;
    text-align: center;
}

.cta:disabled {
    cursor: not-allowed; /* Show the user it's disabled */
    box-shadow: none;    /* Remove shadow */
    opacity: 0.5;        /* Make the button appear more faded */
    color: #999999;      /* Adjust color to make it look disabled */
}

.cta:disabled:hover {
    box-shadow: none;    /* No shadow on hover when disabled */
    opacity: 0.5;        /* Keep the faded appearance */
}
@media (max-width: 1000px) { 
    .trial { 
        max-width: 520px;
    }
    .trial h2 { 
        font-size: 44px;
    }
}
@media (max-width: 750px) { 
    .trial { 
        max-width: 320px;
        padding: 40px 90px;
    }
    .trial h2 { 
        font-size: 32px;
        line-height: normal;
    }
    .cta { 
        align-items: flex-start;
        display: flex;
        flex: none;
        flex-wrap: nowrap;
        width: 200px;
        padding: 12px;
        text-align: center;
        margin: 0 auto;
    }
}
@media (max-width: 500px) { 
    .trial { 
        max-width: 75%;
        margin: 20px;
        padding: 20px 60px;
        place-items: center;
    }
    .trial h2 { 
        font-size: 24px;
        line-height: normal;
    }
    .trial p { 
        font-size: 16px;
    }
    .cta { 
        /* align-items: flex-start; */
        display: flex;
        flex: none;
        flex-wrap: nowrap;
        width: 200px;
        padding: 12px;
        text-align: center;
        margin: 0 auto;
    }
}